services:
  prover-backend:
    build:
      context: .
      target: prover-backend
    image: prover-backend
    env_file:
     - .env_prover
    volumes:
      - type: bind
        source: .
        target: /bitvmx-backend
    ports:
      - "8080:80"
    networks:
      - bitvmx-net

  verifier-backend:
    build:
      context: .
      target: verifier-backend
    image: verifier-backend
    env_file:
     - .env_verifier
    volumes:
      - type: bind
        source: .
        target: /bitvmx-backend
    ports:
      - "8081:80"
    networks:
      - bitvmx-net

  format:
    build:
      context: .
      target: bitvmx-base
    image: bitvmx-base
    volumes:
      - type: bind
        source: .
        target: /bitvmx-backend
    entrypoint: sh -c "black --config .black . && ruff check --fix"

  flake8:
    image: bitvmx-base
    volumes:
      - type: bind
        source: ./
        target: /bitvmx-backend
        read_only: true
    entrypoint: flake8

networks:
  bitvmx-net: